/* {border:1px solid red}*/
body {
	margin: 0;
	font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*---------------------HEADER----------------------*/
header {
	background-color: #0A2342;
	height:75vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: block;
	top: 0;
	left: 0;
	right: 0;
}
nav {
	float: right;
	margin-right: 8%;
	margin-top: 2%;
}

#links {
	list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

#links li {
  margin-left: 20px;
}

#links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

#links a:hover {
  color: #7bb0af;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger i {
  color: white;
  font-size: 24px;
}

#personal{
	position: absolute;
	top: 30%;
	left: 15%;
}
#change-text{
	font-weight: bold;
	letter-spacing: 2px;
}
#personal h1{
	color: white;
	font-size: 2.2rem;
	letter-spacing: 0.2rem;
	margin-bottom: 0;
}
#personal p{
	margin-top: 12px;
	color: white;
	padding-top: 15px;
	padding-right: 20px;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	border-top: 1px solid white;
}
.circle {
	position: absolute;
	top: 40%;
	right: 20%;
	transform: translate(0, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #fff;
}
.circle img {
	max-width: 80%;
	max-height: 80%;
}


/*---------------------About----------------------*/

#about {
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 50px 0 0 20px;
	text-align: center;
}
#about h2 {
	font-size: 32px;
	margin-bottom: 30px;
	color: #333;
	text-transform: uppercase;
}
#about h2:hover {
	color: #7bb0af;
	transition: 0.5s;
}
#about p {	
	padding-top: 10px;
	margin: 0 auto;
	width: 80%;
	font-size: 18px;
	line-height: 1.5;
	color: #555;
	margin-bottom: 20px;
}
#skills{
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
}
.program-languages{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.languages{
	grid-column: 2 / 3;
	grid-row: 2 /3;
}
.skill{
	width: 80%;
	margin: 0 auto;
}
.skill-bar {
	margin: 20px 0;
	text-align: left;
}

.skill-bar .skill {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.skill-bar .skill-percentage {
	padding-right: 90%;
	height: 20px;
  	background-color: #ddd;
  	position: relative;
  	overflow: hidden;
}

.skill-bar .skill-percentage::after {
	content: "";
	position: absolute;
	height: 20px;
	top: 0;
	left: 0;
	background-color: #4CAF50;
	width: var(--percentage, 0%);
}
.skill-bar.visible .skill-percentage::after {
  	animation: fulfill 1s ease-in-out forwards;
}


@keyframes fulfill {
  from {
    width: 0%;
  }
  to {
    width: var(--percentage, 0%);
  }
}

.c {
  --percentage: 70%;
}

.cpp {
  --percentage: 30%;
}

.python {
  --percentage: 60%;
}

.php {
  --percentage: 40%;
}

.csharp {
  --percentage: 30%;
}
.slovak {
  --percentage: 95%;
}
.czech {
  --percentage: 80%;
}
.english {
  --percentage: 60%;
}

.german {
  --percentage: 10%;
}

.skill-bar .skill-percentage::before {
  	content: "";
  	position: absolute;
  	height: 20px;
  	top: 0;
  	right: 0;
  	background-color: #ddd;
  	width: calc(100% - var(--percentage, 0%));
}



/*---------------------Education----------------------*/
#education {
	height: 1100px;
	background-color: #f5f5f5;
}
#education h2 {
	padding-top: 10px;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	margin-bottom: 50px;
	color: #333;
	text-transform: uppercase;
}
#education h2:hover {
	color: #7bb0af;
	transition: 0.5s;
}
/*-----------HighSchool-------------*/
.high-school-info{
	height: 100%;
}
.high-school-info h3{
	font-size: 30px;
	margin-top: 7%;
	margin-left: 13%;
}
.high-school{
	margin-left: 50%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows:  400px;
  align-items: center;
  background-color: white;
  height: 400px;
  width: 75%;
  margin: 0 auto;
  border: 1px dotted #BEE9E8;
}
.high-school:hover{
	transition: 0.5s;
	transform: scale(1.1);
}
.text-high-school{
	font-size: 20px;
	margin-top: 5%;
	margin-left: 10%;
}
.high-school-image {

	margin-right: 50px;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 100%, 100% -120%, 0% 100%);
}

.high-school-info {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

/*-----------University-------------*/

.university-info{
	height: 100%;
}
.university-info h3{
	font-size: 30px;
	margin-top: 20%;
	margin-bottom: 15%;
	margin-left: 18%;
}
.university {
  	display: grid;
  	grid-template-columns: 65% 35%;
  	grid-template-rows:  400px;
  	align-items: center;
  	background-color: white;
  	height: 400px;
  	width: 75%;
  	margin: 100px auto;
  	border: 1px dotted #BEE9E8;
}
.university:hover{
	transition: 0.5s;
	transform: scale(1.1);
}
.text-university{
	font-size: 20px;
	margin-top: 5%;
	margin-right: 10%;
}

.university-image {
	margin-right: 50px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
  	width: 100%;
  	height: 100%;
  	clip-path: polygon(100% 100%, 0 -120%, 0 100%);
}

.university-info {
	float: right;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

/*---------------------Experience----------------------*/

#experience {
	height: 550px;
	background-color: #0A2342;
	padding: 50px;
}
#experience h2 {
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	margin-bottom: 30px;
	color: white;
	text-transform: uppercase;
}
#experience h2:hover {
	color: #7bb0af;
	transition: 0.5s;
}
.job{
	color: white;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	padding-bottom: 10px;
  	height: 100px;
  	width: 80%;
  	margin: 0 auto;
}
.job:hover{
	color: black;
	background-color: white;
	border: 1px dotted #BEE9E8;
	transform: scale(1.05);
	transition: 0.5s;
}
.job-info h3{
	padding-left: 40px;
	font-size: 20px;
}

.text-job p{
	margin-left: 40px;
	float: left;
	margin-top: 0;
	font-size: 20px;
}

/*---------------------Portfolio----------------------*/
#portfolio {
	background-color: #f5f5f5;
	padding: 50px;
	text-align: center;
}
#portfolio h2 {
	margin: 0 auto;
	font-size: 32px;
	margin-bottom: 30px;
	color: #333;
	text-transform: uppercase;
}
#portfolio h2:hover {
	color: #7bb0af;
	transition: 0.5s;
}
#project{
	width: 80%;
	margin: 40px auto;
	display: grid;
	height: 10%;
	grid-template-columns: repeat(5, 20.75%);
	grid-gap: 5px;
}
.btn {
	background-color: white;
  	border: none;
  	color: black;
  	padding-top: 5px;
  	height: 160px;
  	width: 180px;
  	text-align: center;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition: 0.3s;
  	margin-bottom: 10px;
  	border: 1px dotted #BEE9E8;
}
.btn:hover{
		transform: scale(1.1);
		background-color: #0A2342 ;
		color: white;
		transition: 0.5s;
}

/*---------------------Footer----------------------*/

footer{
	background-color:#0A2342 ;
	height: 450px;
}
.form-container {
  display: flex;
  justify-content: flex-end;
}
#contact{
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
}

#contact div h3{
	margin-top: 52px;
	margin-left: 40px;
	color: white;
	font-size: 20px;
	margin-bottom: 30px;
}
.contact-list {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	margin-top: 40px;
	color: white;
  	list-style: none;
}

.contact-list li {
 	display: flex;
  	align-items: center;
  	margin-bottom: 10px;
}
.contact-list li i {
	color: white;
 	font-size: 18px;
  	margin-right: 10px;
}
.contact-list li i:hover {
    color: #7bb0af;
  	transition: 0.5s;
}

.contact-list li a {
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.social-links {
	width: 250px;
	padding-top: 20px;
	border-top: 1px solid white;
	margin-top: 20px;
	margin-left: 40px;
  	display: flex;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #7bb0af;
  transition: 0.5s;
}

form h3{
	margin: 0;
	color: white;
	font-size: 20px;
	margin-bottom: 30px;
}

form {
	margin-left: 10%;
	display: flex;
	margin-top: 50px;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
  	flex-direction: column;
  	width: 400px;
}
form label{
	color: white;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

#btn-send{
	background-color: white;
  	border: none;
  	color: black;
  	height: 40px;
  	width: 100px;
  	text-align: center;
  	font-size: 16px;
  	margin-top: 10px;
  	transition: 0.3s;
  	margin-bottom: 10px;
  	border: 1px dotted #BEE9E8;
}

.copyright{
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	padding-top: 10px;
	color: white;
	text-align: center;
	border-top: 1px solid white;
}
#message-container{
	display: none;
    position: fixed;
    opacity: 0.92;
    border-radius: 20px;
    border: 1px solid white;    
    top: 20px;
    left: 42%;
    width: 155px;
    height: 80px;
    background-color: #7bb0af;
    border: 1px dotted #0A2342;
}

#message-container div{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 8px;
    font-family: Poppins;
    color: white;
    width: 180px;
}
#message-container div b:nth-child(1){
    font-weight: normal;
    margin-bottom: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    width: 200px;
}
.send_mail{
	display: block !important;
    animation-direction: alternate;
    animation: goup 0.5s;
}

@media screen and (max-width:1270px){
	#experience {
		height: 670px;
	}
	.job{
		padding-bottom: 15px;
	  	height: 130px;
	}
	#project{
		width: 80%;
		margin: 40px auto;
		display: grid;
		height: 10%;
		grid-template-columns: repeat(4, 26%);
		grid-gap: 10px;
	}
}
@media screen and (max-width:1120px){
	.circle {
		height: 250px;
		width: 250px;
		right: 10%;
	}
	.high-school-info h3{
		font-size: 27px;
		margin-top: 12%;
		margin-left: 10%;
	}
	.text-high-school{
		font-size: 19px;
		margin-top: 6%;
		margin-left: 6%;
	}
	.university-info h3{
		font-size: 27px;
		margin-top: 30%;
		margin-left: 10%;
	}
	.text-university{
		font-size: 19px;
		margin-top: 9%;
		margin-right: 7%;
	}
	.high-school-image {
		object-fit: cover;
	}
	.university-image {
		object-fit: cover;

	}
	.skill-bar .skill-percentage {
		padding-right: 80%;
	}
}
@media screen and (max-width:980px){
	#skills{
		width: 80%;
		margin-left: 12%;
		display: grid;
		grid-template-columns: 100%;
	}
	.program-languages{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.languages{
		grid-column: 1 / 2;
		grid-row: 4 /5;
	}
	.prog-lag{
		margin-bottom: 0;
		margin-right: 10%;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.lang{
		margin-bottom: 0;
		margin-right: 10%;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	#experience {
		height: 880px;
	}
	.job{
		padding-bottom: 15px;
	  	height: 180px;
	}
	#project{
		grid-template-columns: repeat(3, 30%);
		grid-gap: 30px;
	}
	form {
	  	width: 300px;
	}
	.high-school-info h3{
		font-size: 27px;
		margin-top: 15%;
		margin-left: 10%;
	}
	.high-school-image {
		object-fit: cover;
		clip-path: polygon(100% 100%, 100% -80%, 20% 100%);
	}
	.university-image {
		object-fit: cover;	
		clip-path: polygon(100% 100%, 0 -80%, 0 100%);
	}
	.university {
	  	display: grid;
	  	grid-template-columns: 60% 40%;
	}
	.university-info h3{
		margin-top: 35%;
		margin-right: 10%;
	}
}
@media screen and (max-width:800px){
	.circle {
		position: absolute;
		top: 25%;
		right: 20%;
		width: 200px;
		height: 200px;
	}
	#personal h1{
		width: 100%;
		margin-top: 120px;
	}
	#experience {
		height: 950px;
	}
	.job{
		padding-bottom: 15px;
	  	height: 200px;
	}
	#project{
		grid-template-columns: repeat(2, 50%);
		grid-gap: 40px;
	}
	.btn {
		margin-left: 0;
	  	padding-top: 20px;
	  	height: 230px;
	  	width: 230px;
	}
	form {
	  	width: 200px;
	}
}
@media screen and (max-width:700px){
	 #links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  #links li {
    margin: 10px 0;
  }
  .hamburger {
  	margin-left: 50px;
  	margin-top:440px;
    display: block;
  }
  .open  #links{
  	background-color: #0A2342;
  	position: absolute;
  	top: 460px;
    display: flex;
  }
  .fa-bars {
    font-size: 25px;
  }
  #links a:hover {
  	color: #7bb0af;
  	background-color: white;
  	padding: 15px;
	}
  .open_nav h2{
		padding-top: 220px;
	}
	.high-school-image {
		display: none;
	}
	.university-image {
		display: none;
	}
	.university {
	  	display: block;
	  	background-color: white;
	}
	.high-school {
	  	display: block;
	  	background-color: white;
	}
	.high-school-info{
		width: 100%;
	}
	.university-info h3{
		margin-top: 25%;
		margin-left: 32%;
	}
	.high-school-info h3{
		margin-top: 25%;
		margin-left: 28%;
	}
	.university-info{
		width: 100%;
	}
	.text-university{
		width: 100%;
		font-size: 20px;
		margin-top: 5%;
		margin-left: 5%;
	}
	.text-high-school{
		width: 100%;
		font-size: 20px;
		margin-top: 15%;
		margin-left: 10%;
	}
	#project{
		margin-left: 22px;
		grid-template-columns: repeat(2, 60%);
		gap: 0px;
	}
	.btn {
		background-color: white;
	  	border: none;
	  	color: black;
	  	padding-top: 20px;
	  	height: 140px;
	  	width: 140px;
	}
	#experience {
		height: 1100px;
	}
	.job{
		padding-bottom: 15px;
	  	height: 240px;
	}
	footer{
		height: 800px;
	}
	#contact{
		padding-top: 10px;
		width: 80%;
		margin-left: 17%;
		display: block;
	}
	.copyright{
		margin-right: 80px;
		color: white;
		border-top: 1px solid white;
	}

}
@media screen and (max-width:450px){
	#personal p{
		width: 80%;
		border-top: 1px solid white;
	}
	.high-school-info{
		margin-left: 10px;
		width: 80%;
	}
	.high-school-info h3{
		margin-top: 35%;
		margin-left: 28%;
	}
	.university-info{
		margin-right: 10%;
		width: 80%;
	}
	.university-info h3{
		margin-top: 35%;
		margin-left: 21%;
	}
	#experience {
		height: 1250px;
	}
	.job{
		padding-left: 0;
		padding-bottom:10px;
	  height: 250px;
	}
	.job-info h3{
		padding-left: 10px;
	}
	.text-job p{
		margin-left: 10px;
	}
	#project{
		margin-left: 14%;
		grid-template-columns: repeat(2,50%);
		gap: 0px;
	}
	.btn {
			padding-top: 0;
			font-size: 15px;
		  background-color: white;
	  	border: none;
	  	color: black;
	  	padding-top: 20px;
	  	height: 120px;
	  	width: 100px;
	}
	#about p{
		margin-left: 9%;
	}
	#contact{
		width: 90%;
		margin-left: 20px;
	}
	.copyright{
		margin-left:65px;
	}
	#experience {
		padding: 10px;
	}
	footer{
		background-color:#0A2342 ;
		height: 810px;
	}
	#experience h2 {
		margin-top: 20px;
	}

}